.searchContainer{
    display: flex;
    justify-content: center
}
.searchBox{
    position: relative;

}
.searchInput{
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding: 5px 30px 5px 10px;
}
.searchInput:focus{
    border: 3px solid #4c4cdd63;
    box-shadow: 8 8 5px #4c4cdd63;
}
.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}
