.spinner{
    display: flex;
    margin: 30px;
    justify-content: center;
}
.spinning{
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}